@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header {
  background-color: bisque;
  border-bottom: 2px solid black;
  margin-bottom: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.links {
  display: flex;
  list-style: none;
  padding: 5px;
}

.links li {
  padding: 0 10px;
}

.links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

main {
  flex: 1;
  padding: 20px;
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  gap: 20px;
  text-align: justify;
}

.info-section .info {
  flex: 0 0 45%;
  font-size: 1rem;
  line-height: 1.6;
}

.info-section img {
  flex: 0 0 45%;
  max-width: 100%;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.random-facts ul {
  list-style: square;
}

footer {
  height: 100px;
  background-color: rgb(184, 136, 77);
}
